<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
      <div class="ms-auto"><%= link_to "Movies list", lists_path, class:"btn btn-primary text-white" %></div>
  </div>
</nav>